# 作业-Pandas

## 1.DataFrame的操作（1分+1分+1分+1分=4分）
要求：


<img src="image/homework.png" alt="homework" style="zoom:70%;" />

- 创建一个pandas.DataFrame对象，存储以上元素；
- 添加一个新列为'd', 对应行1，2，3的值为13, 14, 15；
- 使用选取操作，选取'a'和'd'列；
- 使用切片操作，选取第0行和第1行；

In [2]:
import pandas as pd
df = pd.DataFrame({'a':[4,5,6],
             'b':[7,8,9],
             'c':[10,11,12]},
            index=[1,2,3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
df['d'] = [13,14,15]
df

   a  b   c   d
1  4  7  10  13
2  5  8  11  14
3  6  9  12  15

In [4]:
df.loc[:, ['a', 'd']]

   a   d
1  4  13
2  5  14
3  6  15

In [6]:
df.iloc[[0,1],:]

   a  b   c   d
1  4  7  10  13
2  5  8  11  14

## 2. 描述性统计方法（2分）

内容：描述性统计、数据集中度量、数据离散状况。

要求：

使用pandas.read_csv读取路径"world-happiness-report-2021.csv"文件，对"East Asia"东亚地区进行描述性统计分析，包括：
   - 最大值
   - 最小值
   - 均值
   - 标准差
   - 分位数

In [8]:
import pandas as pd
df = pd.read_csv('datasets/world-happiness-report-2021.csv')

In [16]:
asia_df = df.loc[df['Regional indicator'] == 'East Asia', :]
asia_df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
23,Taiwan Province of China,East Asia,6.584,0.038,6.659,6.510,10.871,0.898,69.600,0.784,-0.070,0.721,2.43,1.480,0.982,0.665,0.490,0.142,0.139,2.687
55,Japan,East Asia,5.940,0.040,6.020,5.861,10.611,0.884,75.100,0.796,-0.258,0.638,2.43,1.389,0.949,0.838,0.504,0.020,0.192,2.048
61,South Korea,East Asia,5.845,0.042,5.928,5.763,10.651,0.799,73.900,0.672,-0.083,0.727,2.43,1.403,0.758,0.801,0.353,0.134,0.135,2.262
69,Mongolia,East Asia,5.677,0.042,5.760,5.595,9.400,0.935,62.500,0.708,0.116,0.856,2.43,0.966,1.065,0.442,0.397,0.263,0.053,2.492
76,Hong Kong S.A.R. of China,East Asia,5.477,0.049,5.573,5.380,11.000,0.836,76.820,0.717,0.067,0.403,2.43,1.525,0.841,0.893,0.408,0.232,0.342,1.236
83,China,East Asia,5.339,0.029,5.397,5.281,9.673,0.811,69.593,0.904,-0.146,0.755,2.43,1.061,0.785,0.665,0.636,0.093,0.117,1.982

In [17]:
asia_df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.00,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,5.810333,0.040000,5.889500,5.731667,10.367667,0.860500,71.252167,0.763500,-0.062333,0.683333,2.43,1.304000,0.896667,0.717333,0.464667,0.147333,0.163000,2.117833
std,0.439913,0.006542,0.440486,0.440218,0.665074,0.053557,5.194238,0.083464,0.137333,0.154219,0.00,0.232438,0.120957,0.163527,0.101787,0.089352,0.098446,0.507088
min,5.339000,0.029000,5.397000,5.281000,9.400000,0.799000,62.500000,0.672000,-0.258000,0.403000,2.43,0.966000,0.758000,0.442000,0.353000,0.020000,0.053000,1.236000
25%,5.527000,0.038500,5.619750,5.433750,9.907500,0.817250,69.594750,0.710250,-0.130250,0.658750,2.43,1.143000,0.799000,0.665000,0.399750,0.103250,0.121500,1.998500
50%,5.761000,0.041000,5.844000,5.679000,10.631000,0.860000,71.750000,0.750500,-0.076500,0.724000,2.43,1.396000,0.895000,0.733000,0.449000,0.138000,0.137000,2.155000
75%,5.916250,0.042000,5.997000,5.836500,10.816000,0.894500,74.800000,0.793000,0.032750,0.748000,2.43,1.460750,0.973750,0.828750,0.500500,0.209500,0.178750,2.434500
max,6.584000,0.049000,6.659000,6.510000,11.000000,0.935000,76.820000,0.904000,0.116000,0.856000,2.43,1.525000,1.065000,0.893000,0.636000,0.263000,0.342000,2.687000

## 3. 商业场景：巧克力品牌的市场占有率（1分+1分+1分+1分=4分）

市场份额亦称“市场占有率”。指某企业某一产品（或品类）的销售量（或销售额）在市场同类产品（或品类）中所占比重。
反映企业在市场上的地位。通常市场份额越高，竞争力越强。   
基本测算方法：  
（1）总体市场份额，指某企业销售量（额）在整个行业中所占比重。  
（2）目标市场份额，指某企业销售量（额）在其目标市场，即其所服务的市场中所占比重。  
（3）相对市场份额，指某企业销售量与市场上最大竞争者销售量之比，若高于1，表明其为这一市场的领导者。

样本数据文件'Chocolate.csv'从JD平台采集，并清洗后的数据集，包含每个商品的**价格、评价数、品牌、巧克力类别**。
因为销量数据涉及到商业机密和合规问题，电商平台只会披露类似“10万+”、“1千+”甚至不提供。  
通常这种情况下，可以使用“评价数”这个指标，作为代理变量，表示销量的高低。

要求：
1. 使用pandas库来读取相关的数据集文件：'datasets/Chocolate.csv'
2. 估算德芙巧克力的价格区间（最小值、最大值）
3. 估算德芙巧克力的总体市场份额
4. 计算各个品牌其哪种口味最畅销

1. 使用pandas库来读取相关的数据集文件：'datasets/Chocolate.csv'

In [92]:
import pandas as pd
df = pd.read_csv('datasets/Chocolate.csv')
df.head(5)

,价格,名称,评价数,品牌,口味
0,30.9,德芙Dove丝滑牛奶巧克力分享碗装 252g 代言人同款 休闲零食婚庆糖果礼品（新旧包装随机发放）,5000000.0,德芙,牛奶巧克力
1,30.9,德芙Dove香浓黑巧克力分享碗装 252g 代言人同款办可可脂公室零食婚庆喜糖(新旧包装随机发放),5000000.0,德芙,黑巧克力
2,139.9,费列罗(FERRERO)榛果威化糖果巧克力制品 婚庆喜糖零食伴手礼 节日礼物员工福利 48粒...,2000000.0,费列罗,榛果
3,399.0,歌帝梵GODIVA比利时进口夹心巧克力金装25枚万圣节礼物送儿童女友女朋友男朋友生日礼物情人...,20000.0,歌帝梵,夹心巧克力
4,41.9,德芙 Dove分享碗装66%可可脂醇黑巧克力 252g 代言人同款糖果巧克力 休闲零食婚庆喜糖,5000000.0,德芙,黑巧克力

2. 估算德芙巧克力的价格区间（最小值、最大值）

In [99]:
defu = df[df['品牌'] == '德芙']             #取出品牌为德芙的样本
[defu['价格'].min(), defu['价格'].max()]

[5.9, 59.0]

3. 估算德芙巧克力的总体市场份额

In [100]:
defu['评价数'].sum()/df['评价数'].sum()

0.5975827276841573

德芙品牌的市场份额约为60%

4. 计算各个品牌其哪种口味最畅销

这里以德芙品牌为例，使用groupby函数按照口味进行分组，然后使用sum函数进行聚合，得到以下结果

In [107]:
defu.loc[:, ['评价数', '口味']].groupby('口味').sum()

              评价数
口味
夹心巧克力    700000.0
牛奶巧克力  11045000.0
黑巧克力   10702000.0

## 3. 金融场景：夏普比率（1分+1分+2分=4分）

夏普比率（Sharpe Ratio）是用来衡量投资组合表现的指标，它是投资组合超额收益率与风险之间的比率。其公式如下：  

$$
Sharpe Ratio = (R_p - R_f) / \sigma_{p}
$$

其中，$R_p$表示投资组合的平均收益率；$R_f$表示无风险利率；$\sigma_{p}$表示投资组合收益率的标准差。

夏普比率越高，表示投资组合每承担一单位的风险能够获得更高的超额收益，因此更为优秀。需要注意的是，夏普比率只适用于对正态分布收益率的投资组合进行评估，而不适用于对非正态分布的投资组合进行评估。此外，夏普比率也不能作为唯一的评估指标，还应该结合其他指标来全面评估投资组合的表现。

IBM的股票代码为IBM，标普指数的代码为SP，可口可乐的股票代码是KO，三者的月度收益率序列存储在'datasets/ibmspko.csv'文件中。
- 请使用pandas读取收益率序列
- 计算持有可口可乐（代码KO）的夏普比率是多少？
- 计算持有三者总价值为1,000,000$的股票策略，不考虑无风险利率的情况下，其夏普比率是多少？

In [19]:
import pandas as pd
df = pd.read_csv('datasets/ibmspko.csv', index_col=0)
df.head(5)

                 ibm        sp        ko
date
1961-01-31  0.072513  0.063156  0.009331
1961-02-28  0.062500  0.026870  0.103236
1961-03-30  0.029630  0.025536  0.012291
1961-04-28  0.027338  0.003843 -0.050000
1961-05-31  0.027521  0.019139  0.087719

In [26]:
sharpe_ratio = df['ko'].mean()/df['ko'].std()
sharpe_ratio

0.2034493193116664

假设等权持有，也就是三者持有比例为（1/3，1/3，1/3），那么计算如下：

In [41]:
import numpy as np
wgt = np.array([1/3, 1/3, 1/3])
portfolio_df = (wgt * df).mean(axis=1)
sharpe_ratio = portfolio_df.mean()/portfolio_df.std()
sharpe_ratio

0.20557283902462276

这里的等权重投资组合的夏普比率约为0.2，意思是平均要承担5个单位的风险，才能获得1个单位的预期收益。